@{
	Layout = "/_Master.cshtml";
	ViewData[Keys.Title] = @Model.WithoutSettings.String(Keys.Title);
}

@section Infobar {	
	@if (IsSectionDefined("Infobar")) {
		RenderSection("Infobar");
	}
	else { 			
		@Html.Partial("_Infobar") 
	} 
}

@section Search {
	@if (IsSectionDefined("Search")) {
		RenderSection("Search");
	}
}

@section Sidebar {
	@if (IsSectionDefined("Sidebar")) {
		RenderSection("Sidebar");
	}
	else { 		
		@Html.Partial("Sidebar/_ChildPages") 
	}
}

@if(Model.Bool(DocsKeys.NoContainer, false))
{
	@RenderBody()
}
else
{
	<section class="content-header">
		<h1>@ViewData[Keys.Title]</h1>
	</section>
	<section class="content">

		@if(Model.String("type")==(string)Model.String("solutionType"))
		{
		<blockquote class="blockquote">
		@{
			var langs = Model.Metadata.Get<List<string>>("assignmentsLangsList");
		}
		@if (langs.Count ==0)
		{
			
			 <p>This is orphaned solution. There are no assignments (yet)</p>

		}else
		{
			
		 <p>This is the solution. Assignments are available in these languages:
		@{
		
		int i = 0;  
		foreach (var lan in langs )
		 {
			 string separator = "";
			 @if (langs.Count()-i > 1)
			  {
				  separator = ",";
			  }else 
			  {
				  separator = ".";
			  }
			  i++;
			 @Html.Partial("_LanguageLinks",new string[] {"localization_assignmentsLangsList",lan,Model.String("RelativeFilePath"),separator});
	 	 	
		  }
		 
		} </p>
		}
		</blockquote>	
		
		}

	@{
	 var langsList = Model.Metadata.Get<List<string>>("otherLanguagesList");
	@if (langsList!=null)
	 {
		<blockquote class="blockquote">
		 @foreach (var lan in langsList )
		{
			 @Html.Partial("_LanguageLinks",new string[] {"localization_languagePacks",lan,Model.String("RelativeFilePath"),Model.String("lang")}) ;
	 	}	  
		</blockquote>
	}   
	}   

	

 @if (!String.IsNullOrEmpty( Model.String("folderWithSourcesRelativePath")))
	 {
		<blockquote class="blockquote">
		@{
		string githubFolder = Context.String(DocsKeys.BaseEditUrl)+Model.String("folderWithSourcesRelativePath");
		string downGitDownloadLink = "https://minhaskamal.github.io/DownGit/#/home?url="+githubFolder;
		@Html.Partial("_LanguageLinks",new string[] {"localization_githubFolderLink" , Model.String("lang") , githubFolder,downGitDownloadLink}) 
		
		}
		</blockquote>
	}  


		@RenderBody()

		@if(!String.IsNullOrEmpty(Model.String("solutionRelativeFilePath")))
		{
		<blockquote class="blockquote">
		@Html.Partial("_LanguageLinks",new string[] {"localization_solutionLink" , Model.String("lang") , Model.String("solutionRelativeFilePath"),}) 
        </blockquote>		
		}


	</section>
}